MONGO_URI=mongodb+srv://garv16sep_db_user:RogerF@@cluster0.of1fiew.mongodb.net/?appName=Cluster0
JWT_SECRET=handloom_jwt_secret_change_in_production
JWT_REFRESH_SECRET=handloom_refresh_secret_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-south-1
AWS_S3_BUCKET=handloom-marketplace
CLIENT_URL=http://localhost
PLATFORM_COMMISSION_RATE=0.08
ADVANCE_PAYMENT_RATE=0.30
